*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', Arial, sans-serif;
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;    
    background-color: #f9f9f9;
    
}

footer{
    padding: 16px;
    background:  #000000;
    color: #aaa;
    font-size: 15px;
    text-align: center;
   
}

header{
    padding: 1rem 0;
    /* background-color: rgb(6, 96, 175, 0.9); */
    background-image: radial-gradient(circle at 10% 10%,
    rgba(169,58,84),
    rgba(6,96,175, 0.5) 50%),
    radial-gradient(circle at 60% 90%,
    rgba(6,96,175),
    rgba(169,58,84) 50%);
    font-weight: bold;
    box-shadow: 0 3px 4px -2px #939393;
   
}

.header{
    height: 100%;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.5;
    
}

main{
    flex-grow: 1;
    /* padding: 20px 0; */
    /* background-color: rgb(255, 255, 255); */
    /* background-color: #f9f9f9; */
    
}

#loginForm{
    background-color: #fff;
    min-height: 350px;
    min-width: 400px;
    max-width: 800px;
    width: 60%;
    border-radius: 1rem;
    margin: 0 auto;
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

#loginForm input[type=text], input[type=password] {
    width: 100%;
    /* display: inline-block; */
    padding: .8rem .4rem;
    margin-bottom: 2rem;
    /* border: 1px solid #ccc; */
    font-size: 16px;
    border-radius: 0.2rem;
    box-sizing: border-box;
}

#loginForm label{
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 0.4rem;
}

#loginForm input[type=submit]{
    color: #ffffff;
    border: .2rem solid #ffffff;
    background-color: #ef4158;
    font-size: 16px;
    line-height: 60px;
    border-radius: 10rem;
    padding: 0 60px;
    margin: auto;
}
#loginForm input[type=submit]:hover{
    cursor: pointer;
    background-color: #ef4158dd;
}

#loginForm h1{
    text-align: center;
    margin-bottom: 2rem;
}

.container{
    width: 95%;
    min-width: 800px;
    max-width: 1600px;
    margin: auto;
    /* overflow: auto;
    scroll-behavior: smooth; */
    
}

.wrapper{
    width: 300px;
}

/* .alert{
    width: 90%;
    background-color: rgb(222, 191, 174);
    margin: auto;
    padding: 10px;
    text-align: center;
} */

/* table{
    box-sizing: border-box;
    max-width: 90%;
    border-collapse: collapse;
    
}
td{
    max-height: 100px;
    padding: 5px 10px;
    border: #323441 1px solid;
    overflow: auto;
    
} */
#loginButton{
    color: #fff;
    padding: 10px 60px;
    border-radius: 10rem;
    border: .2rem solid #fff;
}

#loginButton:hover{
    background-color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
}

.organisation__list{
    padding: 20px 5px;
    font: 1rem sans-serif;
    display: flex;
    align-items: center;
    
}
.organisation__list_sticky{
    box-sizing: border-box;
    position: sticky;
    top: 0;
    background: #ffffff;
    /* border-bottom: 1px solid #f0f0f0; */
}

.organisation__list>input{
    font: 1rem sans-serif;
    flex-grow: 1;
    padding: 5px;
    border-radius: .2rem;
    margin-left: 20px;
}
.organisation__list>input:focus-visible{
    outline: none;
}



.more_info_item h1{
    font-size: 1rem;
    padding: 10px 0;
    
}


.wrapper a{
 text-decoration: none;
 color: rgb(255, 255, 255);
}




.redact{
    color: #000;
}
